.DS_Store
.build/
DerivedData/
GlassPulse.xcodeproj/
Resources/Info.plist
*.xcuserstate
xcuserdata/

# Android
android/.gradle/
android/.idea/
android/**/build/
android/local.properties
android/*.iml
*.apk
*.aab
*.jks
*.keystore
